In [ ]:
import pandas as pd
import networkx as nx

In [ ]:
df = pd.read_csv('fara.csv')

In [ ]:
df.head()

,Country/LocationRepresented,Registrant,Registration #,RegistrationDate,Address,State,Foreign Principal,Foreign PrincipalRegistration Date
0,IRELAND,IDA Ireland,1770,07/10/1964,345 Park Avenue17th FloorNew York&nbsp;&nbsp;1...,NY,"Irish Development Authority, Irish Government ...",07/10/1964
1,MEXICO,"Morris, Luis A.",7080,02/16/2022,Bank of America Plaza - 800 5th Ave. SWSTE. #1...,WA,Municipality of Morelia - Economic Development...,02/16/2022
2,GREAT BRITAIN,VisitBritain,579,07/07/1949,885 Second Avenue28th FloorNew York&nbsp;&nbsp...,NY,British Tourist Authority,07/07/1949
3,GREAT BRITAIN,VisitBritain,579,07/07/1949,885 Second Avenue28th FloorNew York&nbsp;&nbsp...,NY,Visit Wales,05/03/2018
4,UKRAINE,Diplomatic Trade Ltd.,6932,03/03/2021,45 Rockefeller PlazaSuite 2000New York&nbsp;&n...,NY,Ukraine Government,03/03/2021

In [ ]:
node_list = list()
edge_list = list()
for country in df['Country/LocationRepresented'].unique():
  node_list.append({
      'id' : country,
      'Label' : country,
      'type' : 'country',
      'country' : country
  })
  for index, record in df[df['Country/LocationRepresented'] == country].iterrows():
    # record = dict(record)
    node_list.append({
      'id' : record['Foreign Principal'],
      'Label' : record['Foreign Principal'],
      'type' : 'foreign_principal',
      'country' : country
  })
    

    node_list.append({
      'id' : record['Registrant'],
      'Label' : record['Registrant'],
      'type' : 'registrant',
      'country' : country
  })
    edge_list.append({
        'source' : country,
        'target' : record['Foreign Principal']
    })
    edge_list.append({
        'source' : record['Foreign Principal'],
        'target' : record['Registrant']
    })
     



ndf = pd.DataFrame(node_list)
edf = pd.DataFrame(edge_list)

In [ ]:
edf.to_csv('edge_list_fara.csv', index = False)
ndf.to_csv('node_list_fara.csv', index = False)

In [41]:
bi_node_list = list()
bi_edge_list = list()
for country in df['Country/LocationRepresented'].unique():
  bi_node_list.append({
      'id' : country,
      'Label' : country,
      'type' : 'country',
      'country' : country
  })
  for index, record in df[df['Country/LocationRepresented'] == country].iterrows():
    bi_node_list.append({
      'id' : record['Registrant'],
      'Label' : record['Registrant'],
      'type' : 'registrant',
      'country' : country
  })
    bi_edge_list.append({
        'source' : country,
        'target' : record['Registrant']
    })
     



bi_ndf = pd.DataFrame(bi_node_list)
bi_edf = pd.DataFrame(bi_edge_list)

In [42]:
bi_ndf.to_csv('bi_node_list_fara.csv', index = False)
bi_edf.to_csv('bi_edge_list_fara.csv', index = False)